
html, body
{
  margin:0;
  width:100%;
  height:100%;
  background-color:rgb(48,48,48);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:default;
}

/*//////////////////////////////////////////////////////////////////////////////
*/
#clock{ width:240px; height:48px }
#ball{ background-color:rgba(127,127,127,0.75) }
#console{ width:50%; height:48px }
#reset{ width:15%; height:48px; border-width:1px 0 1px 0 }
#yes{ border-radius:24px 0 0 24px; padding-left:4px; border-right-width:0 }
#no{ border-radius:0 24px 24px 0; padding-right:4px; border-left-width:0 }
#arena
{
  width:960px;
  height:692px; /* true height 576px */
  background-color:rgb(255,255,255);
  border-radius: 0 0 24px 24px;
}
#center
{
  transform:translate(461px,269px); /* true center 480px, 288px */
  border-style:dashed;
  width:38px;
  height:38px;
}

/*//////////////////////////////////////////////////////////////////////////////
*/
#selection
{
  display:none;
  border:8px solid rgba(255,255,255,0.5);
  animation:ripple 0.25s ease-in-out;
}

@keyframes ripple
{
  0%  { border-width:8px }
  50% { border-width:12px }
  100%{ border-width:10px }
}

/*//////////////////////////////////////////////////////////////////////////////
*/
.cll{ color:rgba(255,255,255,0.25); font-family:sans-serif; font-size:14px }
.cnt{ display:flex; align-items:center; justify-content:center }
.gol{ width:40px; height:40px; background-color:rgba(255,255,255,0.25) }
.yon{ width:5%; height:48px; font-size:24px }

.tra{ transition:all 0.25s ease-in-out }
.fml{ font-family:sans-serif }
.box{ box-sizing:border-box }
.abs{ position:absolute }
.flt{ float:left }

.rn1{ border-radius:24px }
.rn2{ border-radius:50% }

.bd1{ border:1px solid rgb(255,255,255) }
.bd2{ border:2px solid rgb(255,255,255) }
.bd3{ border:3px solid rgb(255,255,255) }

.dsp{ background-color:rgb(63,63,63); color:rgb(207,207,207) }

.btn{ background-color:rgb(127,127,127); color:rgb(207,207,207) }
.red{ background-color:rgb(191,0,31); color:rgb(255,255,255) }
.gre{ background-color:rgb(95,143,0); color:rgb(255,255,255) }
.blu{ background-color:rgb(79,15,143); color:rgb(255,255,255) }
.btn:hover{ background-color:rgb(143,143,143); cursor:pointer }
.red:hover{ background-color:rgb(207,15,47); cursor:pointer }
.gre:hover{ background-color:rgb(111,159,15); cursor:pointer }
.blu:hover{ background-color:rgb(95,31,159); cursor:pointer }

.sqr{ width:48px; height:48px }
.spc{ width:100%; height:10px }

.bnc{ background-color:rgb(207,207,207) } /* bench */

.lrd{ background-color:rgb(207,15,47) } /* light red */
.drd{ background-color:rgb(191,0,31) } /* dark red */
.lgr{ background-color:rgb(111,159,15) } /* light green */
.dgr{ background-color:rgb(95,143,0) } /* dark green */
.lbl{ background-color:rgb(95,31,159) } /* light blue */
.dbl{ background-color:rgb(79,15,143) } /* dark blue */

/*==============================================================================
*/
.nnnn{ border:0 }

.nsss{ border-top-width:0 }
.sssn{ border-left-width:0 }
.snss{ border-right-width:0 }
.ssns{ border-bottom-width:0 }

.nssd{ border-top-width:0; border-left-style:dashed }
.ndss{ border-top-width:0; border-right-style:dashed }
.ssnd{ border-bottom-width:0; border-left-style:dashed }
.sdns{ border-bottom-width:0; border-right-style:dashed }

.nnnd{ border-width:0 0 0 1px; border-left-style:dashed }
.snnd{ border-width:1px 0 0 1px; border-left-style:dashed }
.nsnd{ border-width:0 1px 0 1px; border-left-style:dashed }
.nnsd{ border-width:0 0 1px 1px; border-left-style:dashed }
.ndnn{ border-width:0 1px 0 0; border-right-style:dashed }
.ndns{ border-width:0 1px 0 1px; border-right-style:dashed }
.sdnn{ border-width:1px 1px 0 0; border-right-style:dashed }
.ndsn{ border-width:0 1px 1px 0; border-right-style:dashed }

.nnss{ border-width:0 0 1px 1px }
.snns{ border-width:1px 0 0 1px }
.ssnn{ border-width:1px 1px 0 0 }
.nssn{ border-width:0 1px 1px 0 }
.nnns{ border-width:0 0 0 1px }
.snnn{ border-width:1px 0 0 0 }
.nsnn{ border-width:0 1px 0 0 }
.nnsn{ border-width:0 0 1px 0 }

/*//////////////////////////////////////////////////////////////////////////////
*/
.zon
{
  display:none;
  border:1px dashed rgb(255,255,255);
  animation:roll 4s infinite;
  animation-timing-function:linear;
}

@keyframes roll{ 100%{ transform:rotate(360deg) } }

/*==============================================================================
*/
.sh0{ width:48px; height:48px; animation:shineA 0.75s infinite }
.sh1{ width:38px; height:38px; animation:shineB 0.75s infinite }
.sh2{ width:28px; height:28px; animation:shineC 0.75s infinite }
.sh3{ width:18px; height:18px; animation:shineD 0.75s infinite }

@keyframes shineA
{
  9%  { border-color:rgba(255,255,255,0.3); border-width:2px }
  79% { border-color:rgba(255,255,255,0.4); border-width:3px }
  89% { border-color:rgba(255,255,255,0.5); border-width:5px }
  99% { border-color:rgba(255,255,255,0.9); border-width:6px }
  100%{ border-color:rgba(255,255,255,0.6); border-width:2px }
}
@keyframes shineB
{
  6%  { border-color:rgba(255,255,255,0.3); border-width:2px }
  76% { border-color:rgba(255,255,255,0.4); border-width:3px }
  86% { border-color:rgba(255,255,255,0.5); border-width:5px }
  96% { border-color:rgba(255,255,255,0.9); border-width:6px }
  100%{ border-color:rgba(255,255,255,0.6); border-width:2px }
}
@keyframes shineC
{
  3%  { border-color:rgba(255,255,255,0.3); border-width:2px }
  73% { border-color:rgba(255,255,255,0.4); border-width:3px }
  83% { border-color:rgba(255,255,255,0.5); border-width:5px }
  93% { border-color:rgba(255,255,255,0.9); border-width:6px }
  100%{ border-color:rgba(255,255,255,0.6); border-width:2px }
}
@keyframes shineD
{
  0%  { border-color:rgba(255,255,255,0.3); border-width:2px }
  70% { border-color:rgba(255,255,255,0.4); border-width:3px }
  80% { border-color:rgba(255,255,255,0.5); border-width:5px }
  90% { border-color:rgba(255,255,255,0.9); border-width:6px }
  100%{ border-color:rgba(255,255,255,0.6); border-width:2px }
}
